:root {
  --stone: #38464b;
  --nav_blue: #a1a9b7;
  --black_green: #013220;
  --capiton: #fff;
  --boring_silver: rgba(154, 185, 188, 0.8);
  --just_black: #000000;
  --outer: #333f50;
  --inner: #222a35;
}

/*the whole page css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--inner);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 26px;
  color: var(--capiton);
}

.body {
  max-width: 1500px;
  max-height: 640px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--inner);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 26px;
  color: var(--capiton);
}

/* make the columns look aligned*/
.column {
  float: left;
  text-align: center;
}

.left {
  width: 7%;
}

.main_screen {
  width: 60%;
  margin-left: 50px;
  border-left: 10px solid var(--capiton);
  border-top: 3px solid var(--capiton);
  border-bottom: 3px solid var(--capiton);
  border-right: 10px solid var(--capiton);
  height: 100vh;
  background-color: var(--inner);
}

/*the main screen */
.container_main_screen {
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--inner);
  height: 95vh;
}

/*main screen scrollbar*/
.container_main_screen::-webkit-scrollbar {
  width: 12px;
  background-color: var(--inner);
}

.container_main_screen::-webkit-scrollbar-thumb {
  background-color: var(--capiton);
  height: 20px;
}

/*build the menu style*/
.menu {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}


/*the menu buttons*/
.btn {
  display: block;
  border-radius: 10px;
  border: 2px solid var(--just_black);
  padding: 8px 5px;
  background-color: var(--capiton);
  color: var(--just_black);
  text-decoration: none;
  position: relative;
}

.btn_active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #17c0eb;
  left: 20px;
  display: none;
}

.btn i {
  margin-right: 10px;
}

.btn_active {
  display: block;
  padding: 4px 7px;
  background-color: #8497b0;
  color: var(--capiton);
  text-decoration: none;
  position: relative;
  border: 2px solid var(--just_black);
  border-radius: 10px;
  margin-bottom: 10px;
}

/*the sub-menu buttons*/
.smenu {
  background-color: var(--inner);
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
  padding: 2px 2px;
  margin-left: 10px;
  max-height: 100%;
}

.smenu a {
  display: block;
  text-decoration: none;
  padding: 6px 18px;
  border-radius: 10px;
  background-color: var(--nav_blue);
  font-size: 16px;
  color: var(--just_black);
  margin: 4px 0;
  position: relative;
  border: 2px solid var(--just_black);
}

.smenu a:hover::before {
  opacity: 1;
}

.smenu a:hover {
  color: var(--capiton);
}

.item:target .smenu {
  max-height: 10em;
}

/*the Research journal*/
.right_screen {
  border: 3px solid var(--capiton);
  height: 100vh;
  display: flex;

  width: 25vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*right screen scrollbar */
.right_screen::-webkit-scrollbar {
  width: 12px;
  background-color: var(--inner);
}

.right_screen::-webkit-scrollbar-thumb {
  background-color: var(--capiton);
  height: 20px;
}


.overlay {
  border: 3px solid var(--capiton);
  border-radius: 10px;
  background-color: var(--capiton);
  color: var(--just_black);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: fixed;
  z-index: 2;
}

.confirm-box {
  border: 1px solid var(--capiton);
  border-radius: 10px;
  position: absolute;
  width: 50%;
  height: 40%;
  top: 25%;
  left: 25%;
  padding: 20px 15px;
  text-align: center;
  background: var(--inner);
}

.end_btn {
  font-size: 20px;
  padding: 20px 20px;
  background-color: var(--capiton);
  color: var(--just_black);
  position: absolute;
  margin-left: 47%;
  float: right;
  border-radius: 20px;
  cursor: pointer;
  background-color: #d6dce5;
  bottom: 0%;
}

.confirm_btn {
  color: var(--just_black);
  display: inline;
  background-color: #d6dce5;
  border-radius: 10px;
  margin-left: 50px;
}

#inside_confirm_p {
  float: left;
  font-weight: 200;
}

.form-container,
.chart-container {
  margin: 8px;
  display: block;
}

.form-container {
  display: inline;
  position: relative;
}

#myChart {
  margin-right: 50%;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;

}

.form-container input {
  width: 30px;
}

.chart-container {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}