.container_main_screen {
  background-color: #222a35;
}

img {
  align-items: center;
  width: 700px;
  height: 80px;
}

#title {
  background-color: #222a35;
  text-align: left;
}


.body {
  max-width: 1500px;
  max-height: 640px;

}


input[type=submit] {
  background-color: #fff;
  color: #000;
  border: none;
  right: 15px;
  float: right;
}

.container {
  height: 200px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #222a35;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #fff;
  opacity: 0.5;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
}

.smenu .btn_active {
  color: white;
}

#forward {
  font-weight: 500;
}

.timer {
  text-align: center;
  margin: 5px;
  padding-bottom: 20px;
}

#clearStorage {
  position: relative;
  left: 0;
  bottom: 20px;
  margin-left: 30px;
  float: right;
  z-index: 1000;
  height: fit-content;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  background-color: #d40000;
  color: white;
  position: absolute;
  font-weight: 500;
}

.main_screen .end_btn {
  font-size: 20px;
  padding: 5px 12px;
  background-color: var(--capiton);
  color: var(--just_black);
  position: relative;
  float: right;
  margin-top: 100px;
  margin-right: 20px;
  font-weight: 500;
  border-radius: 10px;
  border-color: rgb(179, 187, 255);
  border-width: 3px;
  cursor: pointer;
  background-color: #d6dce5;
  z-index: 1000;
  height: fit-content;
}